*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 60vw;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10vw;
    border: 2px solid black;
}

.title-box{
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.task-box{
    width: 100%;
}

.task-box > *{
    font-size: 1.3rem;
    font-weight: bold;
    display: inline-block;
    padding: 4px;
    height: 15%;
}

.status{
    width: 30%;
    text-align: center;
    background-color: red;
    height: 15%;
    padding: 10px;
}
.task{
    width: 70%;
    padding: 10px;
}

#progress-tracker{
    position: fixed;
    top: 40%;
    right: 10%;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    text-align: center;
    background-color: red;
    padding: 5%;
    font-weight: bolder;
    font-size: 3rem;
    border: 2px solid black;
}